// root
//  Set Variable End
$White: hsl(0, 0%, 100%);
$LightGray: hsl(212, 45%, 89%);
$GrayishBlue: hsl(220, 15%, 55%);
$DarkBlue: hsl(218, 44%, 22%);

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&family=Outfit:wght@400;700&display=swap');

//  Set Variable End
//  Reset Style
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

// Reset end

main {
    background-color: $LightGray;
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: relative;

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card {
            display: block;
            background-color: $White;
            padding: 10px;
            border-radius: 10px;
            margin: 0 auto;
            width: 250px;
            text-align: center;
            box-shadow: -8px 8px 12px -1px rgba(0, 0, 0, 0.13);

            .img {
                background-image: url("images/image-qr-code.png");
                position: relative;
                width: 100%;
                border-radius: 8px;
                background-repeat: no-repeat;
                background-size: cover;
                height: 230px;
            }

            .description-container {
                h1.header {
                    margin: 15px 0;
                    font-size: 1.2em;
                    color: $DarkBlue;
                }

                .description {
                    color: $GrayishBlue;
                }
            }
        }

        footer {
            width: 100%;
            display: block;
            color: $GrayishBlue;
            background-color: inherit;
            text-align: center;
            margin-top: 20px;
            padding: 10px 15px;

            a {
                color: $DarkBlue;
                position: relative;
                text-decoration: none;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 0;
                    opacity: 0;
                    border: 1px solid $DarkBlue;
                    border-left: none;
                    border-bottom: none;
                    transition: all 0.15s;
                }

                &:hover {
                    color: #000;
                    &::after {
                        border-color: #000;
                        width: 100%;
                        left: 0;
                        opacity: 1;
                        transition: all 0.15s;
                    }
                }
            }
        }
    }
}

@media only screen And (max-width:250px) {
    .img {
        height: calc(100vw - 20px) !important;
        background-size: contain !important;
    }
}